body {
  color: white;
  font-family: Arial;
  text-align: center;
}

.Header_title {
  background-color: #343a40 !important;
  height: 3rem;
  margin-top: 0;
  padding-top: 1%;
}

.number {
  display: flex;
  flex-direction: column;
  height: 18rem;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid gray;
  border-radius: 50%;
}

.icons {
  margin-top: 16%; 
  display: flex;
  margin-left: 2.5rem;
}

.start_button {
  background-color: green;
  background-image: url("pinpng.com-start-icon-png-6106398.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  background-size: 3rem 3rem;
  border-radius: 8%;
}

.pause_button {
  background-color: purple;
  background-image: url("stop-player-button.png");
}

.restart_button {
  background-color: blue;
  background-image: url("update-icon-png-image-4.png");
  margin-left: 5rem;
}

.text_color {
  color: blue;
  font-size: 33px;
}

.text_colorRed{
  color: red;
}

.small {
  font-size: 20px;
}

.input_taker {
  border: 5px solid whitesmoke;
  height: 3rem;
  border-radius: 5px;
  color: blue;
  text-align: center;
  font-size: 1rem;
}